---
interface Props {
  title: string;
  date: string;
  topic: string;
  url: string;
}

const { title, date, topic, url } = Astro.props;
---

<!-- When use this component always add a <div class=publication> for envolve all the ListBlogs components-->

<div class="publication-measure">
  <h3 class="publication-title">
    <a class="title" href={url}>{title}</a>
  </h3>
  <p class="publication-meta"><a href=`/blog/${topic}/`>{topic}</a> | {date}</p>
</div>

<style>
  .title {
    border-bottom: 1px solid var(--black-blue);
    color: var(--black-blue);
    text-decoration: none;
  }

  .title:hover {
    border-bottom: 1px solid;
    color: #ffdc5d;
  }

  .publication-measure {
    color: var(--black-blue);
    font-family: var(--default-font);
    margin: 0 auto;
    margin-bottom: 2rem;
    max-width: 60rem;
    padding: 0 2rem;
  }

  .publication-title {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }

  .publication-meta {
    color: rgb(242, 247, 249);
    font-size: 0.75rem;
    margin-bottom: 0;
  }
  .publication-meta a {
    border-bottom: 1px solid var(--white);
    color: var(--white);
    text-decoration: none;
  }

  .publication-meta a:hover {
    border-bottom: 1px solid #ffdc5d;
    color: #ffdc5d;
  }
</style>
